{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="{% static 'css/home/bootstrap.min.css'%}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="{% static 'css/blogs.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if found %}
        {{blog.title}}
        {%else%}
        Not Found
        {% endif %}</title>
</head>

<body>

    {% if user_found %}
    <div>
        <!-- Navigation -->
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container-fluid">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{%url 'home'%}">Simple Blog Site</a>
                </div>
                <!-- /.navbar-header -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'singin' %}">Signin</a></li>
                        <li><a href="{% url 'singup' %}">Signup</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- /.navbar -->
        <span style="position: absolute; left: 50%; color: rgb(0, 0, 0);"><b>WRITER INFORMATION</b></span>
        <div class="container bootstrap snippets bootdey" style="margin-bottom: 100px; margin-top: 80px;">
            <div class="panel-body inf-content" style="background:rgba(201, 201, 201, 0.74)">
                <div class="row">
                    <div class="col-md-4 container2">
                        <img alt="" style="width:100px; height: 90px;" title=""
                            class="img-circle img-thumbnail isTooltip"
                            src="{% static 'uploads/' %}{{selected_user.user_photo.photo}}"
                            data-original-title="Usuario">
                    </div>
                    <div class="col-md-6">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon text-primary"
                                                    style="font-size: 20px; color: black">
                                                    <b>User Name:</b>
                                                </span>
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            {{selected_user.user_name}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if blog_found %}
        <span style="position: absolute; left: 50%; color: red; font-size: larger;"><b>BLOGS</b></span>
        <section class="cards-wrapper">
            {% for blog in blogs %}
            <div class="card-grid-space">
                <div class="num">{{forloop.counter}}</div>
                <p>writer: {{blog.writer.user_name}}</p>
                <a class="card" id="card" href="{% url 'blog' blog.slug %}"
                    style="--bg-img: url({% static 'uploads/' %}{{blog.cover_photo.name}})">
                    <div>
                        <h1>{{blog.title}}</h1>
                        <span style="display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            max-width: 200px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 16px;">
                            <p>{{blog.content|safe}}</p>
                        </span>
                        <div class="date">{{blog.blog_created_date}}</div>
                        <div class="tags">
                            <div class="tag">{{blog.tag}}</div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </section>
        {% else %}
        <h3 style="margin-left: 10px;">Not post yet:</h3>
        {% endif %}
        {%else%}
        <div id="error_page">
        </div>
        {% endif %}
    </div>
    <script>
        $(function () {
            $("#error_page").load("{% static 'error_msg.html'%}");

        });
    </script>
</body>

</html>